.rankTab {
  display: flex;
  background-color: lightcoral;
  height: 40px;
}
.rankTab a {
  flex: 1;
  font-size: 18px;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.rankTab a .active {
  color: lawngreen;
}
