.sigins {
  z-index: 11;
  position: relative;
  left: 0;
  top: 0;
  background: url("sigin-bg.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  clear: both;
  overflow: hidden;
}
.sigins .sigin {
  margin: 230px auto;
  width: 90%;
  justify-content: center;
}
.sigins .sigin li {
  width: 100%;
}
.sigins .sigin li i {
  font-size: 18px;
}
.sigins .sigin li input {
  height: 30px;
  margin-top: 20px;
  width: 90%;
  border: 1px solid #5e5e5e;
}
.sigins .sigin li button {
  background: red;
  color: white;
  border: 1px solid red;
  display: block;
  margin: 40px auto;
  width: 60%;
  height: 30px;
}
